<link href="~/Content/AdminSetStyle.css" rel="stylesheet" />
<div class="AdminBar">
    <div class="HoverAd">
        <a id="Users" href="/_Admin/User/List">Kullanıcılar</a><br>
        <a id="Articles" href="/_Admin/Article/List">Makaleler</a><br>
        <a id="Categories" href="/_Admin/Category/List">Kategoriler</a><br>
    </div>
</div>