<link href="~/Content/AdminSetStyle.css" rel="stylesheet" />
<div class="AdminBar">
    <div class="HoverAd">
        <a id="Users" href="#">Kullanıcılar</a><br>
        <a id="Articles" href="#">Makaleler</a><br>
        <a id="Categories" href="#">Kategoriler</a><br>
    </div>
</div>