<link href="~/Content/NavBarStyle.css" rel="stylesheet" />
<div class="NavBar">
    <div class="NavLinks">
        <a id="AboutUs" href="#">About US</a>
        <a id="HP" href="#">HTMLBLOG</a>
        <a id="ContactUs" href="#">Contact US</a>
    </div>
</div>
<div class="LogInOut">
        <a href="/Account/Logout" id="LogBtn"><span id="LogIcon" class="glyphicon glyphicon-log-out"></span></a>        
</div>