<link href="~/Content/UserSettingStyle.css" rel="stylesheet" />
<div class="UserSettings">
    <div class="HoverSet">
        <a id="Profile" href="/_Admin/Profile/MyProfile">Profil</a>
        <a id="Account" href="/_Admin/Profile/Account">Hesap</a>
        <a id="Security" href="/_Admin/Profile/Security">Güvenlik</a>
    </div>
</div>
