<link href="~/Content/UserSettingStyle.css" rel="stylesheet" />
<div class="UserSettings">
    <div class="HoverSet">
        <a id="Profile" href="#">Profil</a>
        <a id="Account" href="#">Hesap</a>
        <a id="Security" href="#">Güvenlik</a>
    </div>
</div>
