
@{
    ViewBag.Title = "CommentEdit";
    Layout = "~/Areas/_SignedIn/Views/Shared/HPLayOut.cshtml";
}
@using HtmlBlogMSB.Models.Data
@model  Comment

<div style="text-align:center; padding-top:30px; padding-bottom:50px; margin:0 auto; width:250px;">
    <form action="/_SignedIn/Profile/CommentEdit" method="post" class="form-horizontal">
        <div class="form-group">
            @Html.TextAreaFor(x => x.Context, new { @class = "form-control", @id = "Context" })
        </div>
        @Html.HiddenFor(x => x.ID)
        <button type="submit" class="btn btn-default">Düzenle</button>
    </form>
</div>