
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/_Admin/Views/Shared/AdminLayout.cshtml";
}
@using HtmlBlogMSB.Models.Data
@model  List<Article>

<div>
    @foreach (var item in Model)
    {
        <div style="width:90%;margin-left:5%;">
            <div>
                <h2><a href="/_Admin/AdminHome/Article/@item.ID">@item.Title</a></h2>
            </div>
            <div>
                <p>@item.Summary</p>
            </div>
            <div>
                <h5 style="text-align:left;margin:auto;">@item.User.UserName</h5><h5 style="text-align:right;margin:auto;">@item.CreatedOn</h5>
            </div>
        </div>
    }
</div>
