<link href="~/Content/NavBarStyle.css" rel="stylesheet" />
<div class="NavBar">
    <div class="NavLinks">
        <a id="AboutUs" href="#">About US</a>
        <a id="HP" href="#">HTMLBLOG</a>
        <a id="ContactUs" href="#">Contact US</a>
    </div>
</div>
<div class="LogInOut">
    @if (Context.User.Identity.IsAuthenticated)
    {
        <a href="/Account/Logout" id="LogBtn"><span id="LogIcon" class="glyphicon glyphicon-log-out"></span></a>
        //<button id="LogBtn" type="button" class="btn btn-default btn-sm"><span id="LogIcon" class="glyphicon glyphicon-log-in"></span></button>
    }
    else
    {
        <a href="/Account/Login" id="LogBtn"><span id="LogIcon" class="glyphicon glyphicon-log-in"></span></a>
        //<button id="LogBtn" type="button" class="btn btn-default btn-sm"><span id="LogIcon" class="glyphicon glyphicon-log-out"></span></button>
    }

</div>