<link href="~/Content/NavBarStyle.css" rel="stylesheet" />
<div class="NavBar">
    <div class="NavLinks">
        <a id="AboutUs" href="/_SignedIn/UserHome/AboutUs">About US</a>
        <a id="HP" href="/_SignedIn/UserHome/Index">HTMLBLOG</a>
        <a id="ContactUs" href="/_SignedIn/UserHome/ContactUs">Contact US</a>
    </div>
</div>
<div class="LogInOut">
        <a href="/Account/Logout" id="LogBtn"><span id="LogIcon" class="glyphicon glyphicon-log-out"></span></a>
</div>