<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("_NavBar")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("_UserSettings")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
