<link href="~/Content/NavBarStyle.css" rel="stylesheet" />
<div class="NavBar">
    <div class="NavLinks">
        <a id="AboutUs" href="/Home/AboutUs">About US</a>
        <a id="HP" href="/Home/Index">HTMLBLOG</a>
        <a id="ContactUs" href="/Home/ContactUs">Contact US</a>
    </div>
</div>
<div class="LogInOut">    
    <a href="/Account/Login" id="LogBtn"><span id="LogIcon" class="glyphicon glyphicon-log-in"></span></a>        
</div>