<link href="~/Content/NavBarStyle.css" rel="stylesheet" />
<div class="NavBar">
    <div class="NavLinks">
        <a id="AboutUs" href="#">About US</a>
        <a id="HP" href="#">HTMLBLOG</a>
        <a id="ContactUs" href="#">Contact US</a>
    </div>
</div>
<div class="LogInOut">
    <button id="LogBtn" type="button" class="btn btn-default btn-sm"><span id="LogIcon" class="glyphicon glyphicon-log-in"></span></button>
</div>