
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/HPLayOut.cshtml";
}
@using HtmlBlogMSB.Models.ViewModels
@model LoginVM

<h2>Login</h2>
@using(Html.BeginForm()){ 
    @Html.TextBoxFor(x => x.Email , new { @placeholder = "email" });<br />
    @Html.PasswordFor(x => x.Password, new { @placeholder = "password" });<br />
    @Html.CheckBoxFor(x => x.RememberMe, new { @placeholder = "remember me" });<br />
    <input type="submit" name="LogIn" value="Oturum Aç" />
}

